.img-mobile
{
    max-width: 100%;
    height: auto;
    background-color: #ffffff;

}
.title>a{
    word-break: break-all;
    line-height: 21px;
}
.event_wrap
{
    flex: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #ffffff;
    justify-content: space-around;
    display: flex;
}
.description3
{
    line-height: 23px;
}
.btn_mobile
{
    border: 1px solid #999;
    padding: 5px 15px;
    color: #666;
    margin-left: 10px;
    text-transform: capitalize;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -khtml-border-radius: 20px;
}
