.description,
.description2,
h5 > a {
    word-wrap: break-word
}

@font-face {
    font-family: iciel_pantonblack;
    src: url(font/icielpanton-black.otf)
}

@font-face {
    font-family: iciel_pantonlight;
    src: url(font/icielpanton-light.otf)
}


.media {
    margin-bottom: 1em;
    border-bottom: 1px solid #eeee;
    padding-bottom: 2em;
    width: 100%
}

.description {
    font-size: 15px !important;
    line-height: 25px !important;
    padding-top: 1em
}

.description_modal {
    font-size: 15px !important;
    line-height: 25px !important;
    padding-top: 1em
}

.description2 {
    color: #000 !important
}

.img_new {
    width: inherit
}

.section-top {
    margin-top: 5em
}

.read {
    font-family: inherit;
    font-size: 16px;
    color: #71a9d4 !important;
    text-decoration: underline;
    float: right
}

.bg_event {
    background: #F2F3F4
}

.footer_bt {
    padding-bottom: 0 !important
}

.title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 1em
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px
}

#button {
    display: inline-block;
    background-color: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff
}

.card-title,
.tel {
    font-family: Open Sans
}

.card-title,
.tel,
.title-about {
    font-weight: 700
}

#button:hover {
    cursor: pointer;
    background-color: #333
}

#button:active {
    background-color: #555
}

#button.show {
    opacity: 1;
    visibility: visible
}

.title_show {
    border-bottom: 2px solid #ccc
}

.tel {
    margin-top: 2em;
    font-size: 16px;
    line-height: 36px;
    color: #303030
}

.card-title {
    font-size: 36px;
    line-height: 48px;
    color: #204181 !important
}

.footer-right .connect {
    border-bottom: none !important
}

.footer-right {
    padding-left: 2em
}

.footer-email {
    border-right: 1px dotted #9ca3aa
}

.footer-middle {
    border-top: 6px solid #d5d7da
}

.table-about > tr {
    border: 2px dotted #9ca3aa !important
}

.title-about {
    font-size: 16px;
    color: #204281 !important
}

.title-korea-about {
    font-size: 16px;
    color: #303030 !important;
    font-weight: 700
}

.description2 {
    font-size: 13.5px !important;
    line-height: 25px !important;
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif
}

.nav-link {
    font-family: iciel_pantonlight !important
}

.logo {
    max-width: 210px
}

li > a:hover {
    border-bottom: 2px solid #234082
}

/*//detail companies*/
.bg {
    background: #204181;
    color: #ffffff;
}

.table2 th {
    width: 200px;
    font-weight: 600;
}

.bg2 {
    background: #ffffff;
    line-height: 25px;
    height: 50px;
    max-height: 50px;
}

.bg3 {
    background: #204181 ;
    color: #ffffff;
    font-weight: bold;
}
.bg3 h2
{
    font-weight: bold;
}

.table2 td, .table2 th {
    border: 0.5px dotted #96aace !important;
    font-weight: normal;
    vertical-align: inherit;
}

/*//end companies detail*/

.heading-right > a:hover {
    color: #234082 !important;
    background: none !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    border: none;
    background: rgb(2, 15, 85);
    background: linear-gradient(90deg, rgba(2, 15, 85, 1) 25%, rgba(128, 38, 51, 1) 120%);

}

.slider-nb {
    margin-top: 80px !important;
}

.slider-item:before {
    background: rgba(25, 25, 112, 0.5)
}

.footer-hb {
    background: #1d447d !important;
}

.text-footer {
    color: #ffffff !important;
}

.text-showroom {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 700;
}

.footer-info li {
    color: #ffffff
}

.showhome {
    background-image: url("../images/showroom2.jpg");
    padding: 30px 0 100px 0;
}

.history-hb {
    background-image: url("../images/banbe-show.jpg");
}

.history-incu {
    border: none !important;
}

.showroom-hb::before {
    background: rgba(25, 25, 112, 0.5);
}

.btn-showroom {
    color: #ffffff;
}

.btn-showroom {
    color: #ffffff !important;
}

.btn-showroom:hover {
    color: #ffffff !important;
}

#wait {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url("../images/pIkfp.gif") 50% 50% no-repeat;
}

.text-book > a:hover {
    color: #ffffff !important;
}

.btn_button {
    border: 1px solid #999;
    padding: 6px 30px;
    color: #666;
    margin-left: 10px;
    text-transform: capitalize;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn_book {
    border: 1px solid #999;
    padding: 7px 40px;
    color: #666;
    margin-left: 10px;
    text-transform: capitalize;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
}

span > a:hover {
    color: #234082 !important;
    border: 1px solid #204181;
}

.img-sl {
    height: 400px !important;
}

.show-title {
    color: #204181 !important;
    line-height: 25px;
    font-size: 25px;
    word-break: break-all;
}

@media only screen and (max-width: 600px) {
    .section-hb {
        padding-bottom: 1em;
    }

    .slider-nb img {
        height: 300px !important;
    }

    .slider-nb {
        margin-top: 1em !important;
    }

    .show-title {
        font-family: 'Open Sans', sans-serif;
    }

    .text-mobile {
        word-break: break-all;
    }

    .soccial_footer {
        margin-top: 2em !important;
        margin-left: 5em !important;
    }
}

.soccial_footer {
    margin-top: 6em;
    display: flex;
    justify-content: space-evenly;
}

.list-ops {
    line-height: 25px;
}

.b2b_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dr {
    display: inline;
}

.text-web {
    color: #ffffff !important;
}

#content p {
    font-size: 15px;
    line-height: 25px;
}

.detail-text> p {
    font-size: 15px !important;
    color: #000 !important;
    line-height: 25px !important;
}

.btn_download2 {
    border: 1px solid #204181;
    padding: 0px 20px;
    color: #204181;
    margin-left: 10px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.select_month
{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: iciel_pantonlight;
}
label>strong
{
    font-family: 'iciel_pantonblack';
}
.table2 tr th
{
    vertical-align: inherit;
}
/*//css book*/
#calendar {
    margin: 1em auto 0;
    width: inherit;
    background-color: #FFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 21px 2px rgba(0, 0, 0, .18);
    -moz-box-shadow: 0 0 21px 2px rgba(0, 0, 0, .18);
    box-shadow: 0 0 21px 2px rgba(0, 0, 0, .18)
}
.book {
    height: auto;
    background: #204181;
    color: #fff;
    width: 100px;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    margin-top: 3em
}
.center {
    margin: 0 auto
}
.fc-content > span {
    color: #ffffff;
}
.fc-content >.fc-time>span {
    color: #ffffff;
}
.fc-content >.fc-title {
    color: #ffffff;
}

.incubat-text, .match-text {

    background: #f2f2f2 !important;

}
