
//========== COMON ==============//

/* font */
@font-face {
    font-family: 'iciel_pantonblack';
    src: url('font/icielpanton-black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iciel_pantonblack_italic';
    src: url('font/icielpanton-blackitalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iciel_pantonlight';
    src: url('font/icielpanton-light.otf');
    font-weight: normal;
    font-style: normal;
}

// mixin
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    -khtml-border-radius: $border-radius;
}
@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow ;
    -moz-box-shadow: $box-shadow ;
    box-shadow: $box-shadow;
}
@mixin opacity($opacity) {
    -webkit-opacity: $opacity; 
    -moz-opacity: $opacity;
    opacity: $opacity;     
}
@mixin background-size($background-size) {
     -size: $background-size;
    -ms-background-size: $background-size;
    -webkit-background-size: $background-size;
    -moz-background-size: $background-size;
}
@mixin box-sizing($border-box) {
    webkit-box-sizing: $border-box;
    -moz-box-sizing: $border-box;
    box-sizing: $border-box;
}

body,
html {
    font-size: 14px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 14px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}
a {
    font-weight: 14px;
    text-decoration: none;
}
a,
button,
img {
    @include transition(all 0.3s ease-in-out);
    text-decoration: none;
}
a:hover,
a:focus,
button:hover {
    @include transition(all 0.3s ease-in-out);
    text-decoration: none;
}
a:hover {
    color: #204181;
}
button:focus {
    outline: 0;
}
*:focus {
    outline: 0;
}
input:focus {
    outline: none;
}
ul {
    margin-bottom: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.display-clear {
    @media(min-width: 1200px) {
        .col-lg-6:nth-child(2n+1) {
            clear: left;
        }
        .col-lg-4:nth-child(3n+1) {
            clear: left;
        }
        .col-lg-3:nth-child(4n+1) {
            clear: left;
        }
    }
    @media(min-width: 992px) and (max-width: 1199px) {
        .col-md-6:nth-child(2n+1) {
            clear: left;
        }
        .col-md-4:nth-child(3n+1) {
            clear: left;
        }
        .col-md-3:nth-child(4n+1) {
            clear: left;
        }
    }
    @media(min-width: 768px) and (max-width: 991px) {
        .col-sm-3:nth-child(4n+1) {
            clear: left;
        }
        .col-sm-4:nth-child(3n+1) {
            clear: left;
        }
        .col-sm-6:nth-child(2n+1) {
            clear: left;
        }
    }
    @media(max-width: 767px) {
        .col-xs-12:nth-child(n) {
            clear: left;
        }
        .col-xs-6:nth-child(2n+1) {
            clear: left;
        }
        .col-xs-4:nth-child(3n+1) {
            clear: left;
        }
    }
}
/*-------------------------------------
                MAIN                
--------------------------------------*/
/*animation home*/
.animation-element {
    opacity: 0;
    position: relative;
    &.slide-left {
        @include opacity(0);
        @include transition(all 500ms linear);
        @include transform(translate3d(0px, 100px, 0px));
        @include transform(translate(0px, 100px));
        &.in-view {
            @include opacity(1);
            @include transform(translate(0px, 0px));
            @include transform(translate3d(0px, 0px, 0px));
        }
    }
    &.banner-nb{
        &-left, &-right, &-top, &-bottom {
            @include opacity(0);
            @include transition(all 500ms linear);
            @include transform(translate3d(-100px, 0px, 0px));
            @include transform(translate(0px, 100px));
            .in-view {
                @include opacity(1);
                @include transform(translate3d(0px, 0px, 0px));
                @include transform(translate(0px, 0px));
            }
        }
        &-right {
            @include opacity(0);
            @include transition(all 500ms linear);
            @include transform(translate3d(100px, 0px, 0px));
            @include transform(translate(0px, 100px));
            &.in-view {
                @include opacity(1);
                @include transform(translate(0px, 0px));
                @include transform(translate3d(0px, 0px, 0px));
            }
        }
        &-bottom, &-left, &-right, &-top {
            &.in-view {
                @include opacity(1);
                @include transform(translate(0px, 0px));
                @include transform(translate3d(0px, 0px, 0px));
            }
        }
    }
    &.scroll-zoom-out {
        @include opacity(0);
        visibility: hidden;
        @include transform(scale(0.1));
        @include transition(all 0.7s ease-out 0s);
        &.in-view {
            @include opacity(1);
            visibility: visible;
            @include transform(scale(1));
            @include transition(all 0.7s ease-out 0s);
        }
    }
}

@-webkit-keyframes fadeInLeftBig {
  	from {
    	@include opacity(0);
     	@include transform(translate3d(-2000px, 0, 0));
  	}

  	to {
    	@include opacity(1);
    	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
  	}
}

@keyframes fadeInLeftBig {
  	from {
    	@include opacity(0);
    	@include transform(translate3d(-2000px, 0, 0));
  	}

  	to {
    	@include opacity(1);
    	@include transform(translate3d(0, 0, 0));
  	}
}

.fadeInLeftBig {
  	-webkit-animation-name: fadeInLeftBig;
  	animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRightBig {
  	from {
    	@include opacity(0);
    	@include transform(translate3d(2000px, 0, 0));
  	}

  	to {
    	@include opacity(1);
    	@include transform(translate3d(0, 0, 0));
  	}
}

@keyframes fadeInRightBig {
  	from {
    	@include opacity(0);
    	@include transform(translate3d(2000px, 0, 0));
  	}

  	to {
    	@include opacity(1);
    	@include transform(translate3d(0, 0, 0));
  	}
}

.fadeInRightBig {
  	-webkit-animation-name: fadeInRightBig;
  	animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUpBig {
  	from {
   		@include opacity(0);
    	@include transform(translate3d(0, 2000px, 0));
  	}

  	to {
    	@include opacity(1);
    	@include transform(translate3d(0, 0, 0));
  	}
}

@keyframes fadeInUpBig {
  	from {
    	@include opacity(0);
    	@include transform(translate3d(0, 2000px, 0));
  	}

  	to {
    	@include opacity(1);
    	@include transform(translate3d(0, 0, 0));
  	}
}

.fadeInUpBig {
  	-webkit-animation-name: fadeInUpBig;
  	animation-name: fadeInUpBig;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* owl-next */
.slider-nb {
    .owl-nav {
        position: absolute;
        width: 100%;
        top: 50%;
        @include opacity(0);
        @include transform(translate(0, -50%));
        button.owl-next, button.owl-prev {
            position: absolute;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background-color: #ffffff;
            @include border-radius (50%);
            @include opacity(0.9);
            i {
                color: #555555;
            }
            &:hover {
                background-color: #204181;
                i {
                    color: #fff;
                }
            }
        }
        button.owl-next {
            right: 30px;
        }
        button.owl-prev {
            left: 30px;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 30px;
        z-index: 999;
        left: 50%;
        @include transform(translate(-50% , 0));
        .owl-dot {
            width: 6px;
            height: 6px;
            display: inline-block;
            margin: 5px;
            @include opacity(0.2);
            @include border-radius(50%);
            background-color: #ffffff;
        }
        .owl-dot.active {
            @include opacity(1);
        }
    }
}
.section-hb {
    position: relative;
    .owl-nav {
        position: absolute;
        bottom: -30px;
        left: 50%;
        @include transform(translate(-50%, 0));
        button.owl-next, button.owl-prev {
            position: absolute;
            text-align: center;
            @include border-radius (50%);
            @include opacity(0.9);
            i {
                color: #555555;
            }           
        }
        button.owl-next {
            left: 60px;
        }
        button.owl-prev {
            right: 60px;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: -45px;
        z-index: 999;
        left: 50%;
        @include transform(translate(-50% , 0));
        .owl-dot {
            width: 10px;
            height: 10px;
            line-height: 10px;
            display: inline-block;
            margin: 3px;
            @include border-radius(50%);
            border: 1px solid #999;
        }
        .owl-dot.active {
            @include opacity(1);
            background: #999;
        }
    }
    &:hover {

    }
}

/* common for section */
.owl-carousel {
	.owl-stage {
		display: flex;
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
	}
	.caption {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
	}
	.flex-text {
		flex-grow: 1
	}
	.thumbnail {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
/* header */
.header-hb, .main-hb, .footer-hb{
    float: left;
    width: 100%;
}   
.header-hb {
    position: relative;
    z-index: 999;
}
.nav-hb {
    position: fixed;
    top: 0;
    height: 120px;
    background: #fff;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    @include transition(all .4s);   
    .nav-right {
        button {
            display: inline-block;
            background: none;
            border: 1px solid #ccc;            
            padding: 4px 26px;
            @include border-radius(20px);
        }
        .nav-current {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
        }
    }
    .nav-link {
        font-size: 16px;
    }
    &.navbar-light .navbar-nav .nav-link {
        color: #666;
        font-weight: 500;
    }
    &.navbar-light .navbar-nav .active>.nav-link, 
    &.navbar-light .navbar-nav .nav-link.active, 
    &.navbar-light .navbar-nav .nav-link.show, 
    &.navbar-light .navbar-nav .show>.nav-link {
        color: rgba(0,0,0,.9);
    }
}
/* main */

.section-hb {
    float: left;
    width: 100%;
	.heading {
		padding: 15px;
    	display: flex;
    	justify-content: space-between;
		&-left {
			display: flex;
			h3 {
			    color: #1f3871;
			    font-weight: 700;
			    font-size: 30px;
			    letter-spacing: 0px;
			    position: relative;
			    padding: 0 15px;
	            text-transform: capitalize;
	            font-family: 'iciel_pantonblack';
			    &:before {		    	
			    	height: 2px;
			    	width: 75px;
			    	bottom: 0;
			    	content: '';
			    	background: #c23127;
		    	    position: absolute;    
			    }
			}
		} 
		&-right {
			.btn-hb {				
			    border: 1px solid #999;
			    padding: 7px 40px;			    
			    color: #666;
			    margin-left: 10px;
			    text-transform: capitalize;
			    @include border-radius(20px);
			    &:hover {
			    	background: #204181;
			    	color: #fff;
			    	border: 1px solid #204181;
			    }
			}
		}       
	}
	.content {
		padding: 0 15px;
		margin-top: 45px;
		h5 a {
			font-size: 16px;
			font-weight: 700;
			color: #606060;
            &:hover {
                color: #204181;
            }
		}
		p {
			font-size: 12px;
			color: rgba(0,0,0,.5);
		}
	}
}
.slider {
    &-nb {  
        text-align: center;
        float: left;
        width: 100%;
        position: relative;
        margin-top: 120px;
        img {
            height: 600px;
            object-fit: cover;
            width: 100%;
        }        
    }
    &-item {
        position: relative;
        width: 100%;
        &:before {            
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: rgba(35,47,62,0.8);
        }
        .box-text {            
            top: 50%;
            left: 50%;
            width: 100%;
            color: #fff;
            position: absolute;
           
            text-transform: uppercase;
            @include transform(translate(-50%, -50%));
        }
        h2 {
	        font-size: 46px;
    		font-weight: 900;
    		letter-spacing: -2px;  
    		font-family: 'iciel_pantonblack';
    	}
        h3 {
			font-size: 36px;
    		font-weight: 300;
    		letter-spacing: 1px;
    		font-family: 'Open Sans', sans-serif;	
        }
        &:hover {
            .owl-nav {
                @include opacity(0);
            }
        }
    }
    &-inner {
        &:hover {
            .owl-nav {
                @include opacity(1);
            }
        }
    }
}


/* Main */
.search {
    &-hb {
        background: #e8e8e8;
        padding: 30px 0 45px 0;
        .form-inline {
            margin-right: 30px;
            .form-control {
                width: 700px;
            }
        }
        
        input {     
            height: 60px;
            @include border-radius(0);
        }
        button {
            height: 60px;
            background: #204181;
            color: #fff;
            width: 160px;
            @include border-radius(0);
            &:hover {
                background: #5a729f;
            }
        }
    }
    &-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        padding: .5rem 1rem;
        justify-content: center;
        .social {
            &-band {
                margin-right: 15px;
            }
        }
    }

}
/* popup new */
.popup-product {
    .modal-header {
        border-bottom: none;
    }
    .social-new {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .new-title {
        p {
            line-height: 18px;
        }
        a {
            font-style: italic;
            color: #9999;
            font-size: 12px;
            text-transform: initial;
            display: block;
            text-align: right;
            &:hover {
                text-decoration: underline;
            }
        }
        h5 {
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 700;
            color: #606060;
            a {
                font-size: 16px;
                font-weight: 700;
                color: #606060;
                &:hover {
                    color: #204181;
                }
            }
        }   
        h6 {
            font-weight: 700;
            color: #606060;
            padding: 15px 0;
        }     
        p {
            font-size: 12px;
            i {
                padding-right: 5px;
            }
        }
    }
    .btn-download {
        border: 1px solid #204181;
        padding: 0px 20px;
        color: #204181;
        margin-left: 10px;
        line-height: 40px;  
        text-transform: uppercase;              
        @include border-radius(40px);
        &:hover {
            background: #204181;
            color: #fff;
        }
    }
    .new-title .new-time {
        p {
            font-size: 24px; 

        }           
    }
    .box-place {
        flex-wrap: wrap;
        display: flex;
        border: 1px solid #ccc;
        .place-item {
            border: 1px solid #ccc;
            display: flex;
            width: 50%;
            float: left;
            padding: 30px;
            i {
                margin-right: 10px;
            }
            p {
                color: #666;
                font-weight: 700;

                span {
                    font-weight: 500;
                    color: #999;
                    display: block;
                    padding-top: 10px;
                }
            }
            a {
                color: #999;
                line-height: 25px;
                font-style: italic;
                text-decoration: underline;
            }
            .fa-calendar {
                line-height: 25px;
            }
        }
        .social-popup {
            a {
                height: 25px;
                width: 25px;
                line-height: 25px;
                color: #999;
                margin-right: 10px;
                display: inline-block;
                text-align: center;
                border: 1px solid #ccc;
                @include border-radius(50%);
                i {
                    margin: 0;
                }
            }
        }
    }
    #event-popup {
        .new-title {
            .new-time {
                p {
                    font-size: 46px;
                    line-height: 25px;            
                }
                span {
                    display: block;
                    margin-top: 7px;
                    font-size: 24px;
                }
            } 
            h5 {
                font-size: 18px;
            }    
        }
           
    }
}
.new {
	&-hb {
        background: #e8e8e8;
        padding: 30px 0 100px 0;
        .content {
            .new-time {
                p {
                    font-size: 30px;
                }
            }
        }
	}
	&-img {
		position: relative;
		&:before {
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    content: "";
		    border: 1px solid transparent;
		    @include transition(all .3s ease-out 0s);
		}
		&:hover {
			&:before {
				top: 20px;
			    left: 20px;
			    bottom: 20px;
			    right: 20px;
			    border: 1px solid #fff;
			    cursor: pointer;
			}
		}
        img {
            width: 100%;
        }
	}
    &-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;       
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        padding: 15px;
        background: #fff;
    }
	&-title {
		h5 {
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 700;
            color: #606060;
            a {
                font-size: 16px;
                font-weight: 700;
                color: #606060;
                &:hover {
                    color: #204181;
                }
            }
        }   
        h6 {
            font-weight: 700;
            color: #606060;
        }     
		p {
			font-size: 12px;
			i {
				padding-right: 5px;
			}
		}
	}
    &-time {
        cursor: pointer;
        padding: 10px 15px;
        margin-right: 15px;
        border: 1px solid black;
        p {
            
            font-weight: 700;
            color: #606060;
        }
        span {            
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}
.incubat, .match{
    &-hb {
        padding: 30px 0 100px 0;
        .incubat-box {
            img {
                width: 200px;
                object-fit: cover;
                margin: 0 auto;
            }
        }
    }
    &-box {
        text-align: center;
        border: 1px solid #ccc;
        @include border-radius(10px);        
        img {
            width: 200px;
        }
    }
    &-img {
        padding: 15px;

    }
    &-text {
        padding: 15px;
        background: #e8e8e8;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px;
    }
}
.showroom {
    &-hb {
        background: #e8e8e8;
        padding: 30px 0 100px 0;
    }
    &-text {
        h5 {
            padding: 15px 0;
        }
    }
}
.match{
    &-hb {
        .match-box {
            img {
                width: 200px;
                object-fit: cover;
                margin: 0 auto;
                min-height: 125px;
            }
        }
    }
}
.history {
    &-hb {
        background: #e8e8e8;
        padding: 30px 0 100px 0;        
    } 
    &-text {
        padding: 15px;
        text-align: center;
    }
}
.share {
	&-hb {
        padding-top: 30px;
		.content h5 a {
            color: #fff;
            line-height: 40px;
        }
        .brand-hb {
            padding: 30px 0;
        }
	}
	&-box {
	    position: relative;
        cursor: pointer;
        &:hover {
            .share-text {
                @include opacity(1);
                @include transition(all .3s ease-out 0s);
            }           
        }
	    &:before {
    	    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: rgba(35,47,62,0.8);
		    top: 0;
		    left: 0;
		    content: "";
		    visibility: hidden;
		    @include opacity(0);
		    @include transform(scale(.5));
		    @include transition(all .3s ease-out 0s);
	    }
	    &:hover {
	    	&:before {
    		    visibility: visible;
			    @include opacity(100);
			    @include transform(scale(1));
			    @include transition(all .3s ease-out 0s);
	    	}
	    }
	}
	&-text {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		@include opacity(0);
	    @include transform(translate(-50%, -50%));
	    @include transition(all .3s ease-out 0s);
        h5 {
            a {
                color: #fff;
            }
        }
        button {
            background: none;
            border: none;
            margin-top: 15px;
            a {
                background: #fff;
                color: #000;
                padding: 5px 30px;     
                @include border-radius(20px);
            }
        }
	}
}
/* Footer */
.footer {
    &-hb {
        background: #e8e8e8;
        padding: 15px 0 60px 0;  
    }
    &-top {
        padding: 15px 0 45px 0;
    }
    &-bottom {
        background: #262525;
        padding: 20px 0;
        color: #fff;
        a {
            color: #fff;
            &:hover {
                color: #204181;
            }
        }
    }  
    &-left, {
        h5 {
            padding: 15px;  
            color: #8b8987;
            font-weight: bold;  
            font-size: 15px;
            text-transform: uppercase;
        }        
    } 
    &-info {
        padding-left: 15px;
        li {
            line-height: 25px;
            color: #626365;
            i {
            	padding-right: 7px;
            	color: #204181;
            }

        }
    }
    &-right {
        
        .link-social {
            display: flex;            
        }
        h5 {
            color: #8b8987;
            font-weight: bold;  
            font-size: 15px;
    		text-transform: uppercase;
    		padding-bottom: 15px;
        }
        .connect {
        	display: flex;
        	align-items: center;
        	padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px dotted #000;
        	h6 {	            
	            font-size: 16px;
	            color: #626365;
	            padding-right: 30px;
	        }        	
        	&-social {
	        	a {
		        	cursor: pointer;
		        	color: #999;
		        	height: 30px;
		        	width: 30px;
		        	display: inline-block;
		        	border: 1px solid #999;
		        	line-height: 30px;
    				text-align: center;
    				margin-right: 5px; 
		        	@include border-radius(50%);
		        	i {
		        		font-size: 14px;
		        	}	    		
		        }
	        }     
        }                 		
    }
    &-email {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px dotted #000;
        .form-group {
		    position: relative;
    	}
        input {
        	border: none;
			height: 38px;
            @include border-radius(0);
        }
        span {
        	right: 12px;
    		top: 12px;
    		position: absolute;
        }
    }
}

/* Back to top */
#bttop {
    border: 1px solid #E2E2E2;
    background: #181818;
    border-radius: 3px;
    bottom: 100px;
    font-size: 11px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 998;
    height: 32px;
    width: 22px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}   
/* responsive */
/* menu */
@media (max-width: 992px) {
    .nav {
        &-hb {
            position: inherit;
            height: inherit;
            top: inherit;
            
        } 
        &-right {
            padding-left: 15px;
            margin: 15px auto;
        }
    }
    .navbar-nav {
        padding: 15px;
    }
    .slider-nb {
        margin-top: 0;
    }

}
@media (max-width: 768px) {
    .navbar-brand.logo {
        img {
            height: 50px;
        }
    }
}

/* main */
@media (max-width: 768px) {
    .slider {
        &-item {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 18px;
            }
        }
        &-nb img {
            height: 300px;
        }
    }
        
    .search {
        &-hb {
            .form-inline .form-control {
                width: inherit;
            }
            button {
                float: left;
                width: inherit;
            }
        } 
        &-inner {
            padding: 0;
            display: block;
        }
    }
     
    .section-hb {
        .heading {
            padding: 0;
            h3 {
                font-size: 24px;
            }
        }        
        .content {
            padding: 0;
        }
    }    
}
/* footer */
@media (max-width: 768px) { 
    .footer {
        &-right {
            .link-social {
                display: block;
            }
        }
        &-email {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
        }
        &-left h5 {
            padding: 15px 0 5px 0;
        }
        &-info {
            padding: 0;
        }
    }
}
@media (min-width: 576px) {
    .popup-product .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}